body {
  background: var(--background-color);
}
p {
	font-size: 18px !important;
}
.btn {
	border-radius: 0px;
	outline: 0 !important;
	font-weight: bold;
}
.btn:focus {
	outline: 0;
}
.btn-default {
  border-color: var(--source-color);
}
.btn-default:focus {
  background: var(--source-color);
}
.btn-primary {
  border-color: var(--primary-color);
  background: var(--primary-color);
}
.btn-primary:focus {
  border-color: var(--primary-color);
  background: var(--primary-color);
}
.btn-danger {
	color: #FFFFFF;
  border-color: var(--danger-color);
  background: var(--danger-color);
}
.btn-danger:focus,
.btn-danger:active {
  border-color: var(--danger-color);
  background: var(--danger-color);
}
.fa-style {
	display: inline;
	color: #FFFFFF;
}
.color-warning {
  background: var(--warning-color) !important;
}
.color-primary {
  background: var(--primary-color) !important;
}
.title-primary {
	color: #FFFFFF;
}
.modal-title {
	font-weight: bold;
}
.modal-content {
	border-radius: 0px;
}
.dropdown-menu {
	border-radius: 0px;
}
.dropdown-menu li a {
	font-weight: bold !important;
}

/* custom bootstrap button css */
.btn-source { 
  color: #000000; 
  background-color: var(--source-color); 
  border-color: var(--source-color);
} 
.btn-source:hover,
.btn-source.active,
.open .dropdown-toggle.btn-source { 
  color: #000000; 
  background-color: var(--source-accent-color); 
  border-color: var(--source-accent-color); 
} 
.btn-source.focus {
  background-color: var(--source-color); 
  border-color: var(--source-color); 
}
.btn-source.active, 
.open .dropdown-toggle.btn-source { 
  background-image: none; 
} 
.btn-source.disabled, 
.btn-source[disabled], 
fieldset[disabled] .btn-source, 
.btn-source.disabled:hover, 
.btn-source[disabled]:hover, 
fieldset[disabled] .btn-source:hover, 
.btn-source.disabled:focus, 
.btn-source[disabled]:focus, 
fieldset[disabled] .btn-source:focus, 
.btn-source.disabled:active, 
.btn-source[disabled]:active, 
fieldset[disabled] .btn-source:active, 
.btn-source.disabled.active, 
.btn-source[disabled].active, 
fieldset[disabled] .btn-source.active { 
  background-color: var(--source-color); 
  border-color: var(--source-color); 
} 
.btn-source .badge { 
  color: var(--source-color); 
  background-color: #000000; 
}
.btn-source.active-tab {
  background-color: var(--source-accent-color); 
  border-color: var(--source-accent-color);
}
.btn-normal { 
  color: #000000; 
  background-color: var(--normal-color); 
  border-color: var(--normal-color); 
} 
.btn-normal:hover,
.btn-normal.active, 
.open .dropdown-toggle.btn-normal { 
  color: #000000; 
  background-color: var(--normal-accent-color); 
  border-color: var(--normal-accent-color);
}
.btn-normal:focus {
  background-color: var(--normal-accent-color);
  border-color: var(--normal-accent-color);
}
.btn-normal.active, 
.open .dropdown-toggle.btn-normal { 
  background-image: none; 
} 
.btn-normal.disabled, 
.btn-normal[disabled], 
fieldset[disabled] .btn-normal, 
.btn-normal.disabled:hover, 
.btn-normal[disabled]:hover, 
fieldset[disabled] .btn-normal:hover, 
.btn-normal.disabled:focus, 
.btn-normal[disabled]:focus, 
fieldset[disabled] .btn-normal:focus, 
.btn-normal.disabled:active, 
.btn-normal[disabled]:active, 
fieldset[disabled] .btn-normal:active, 
.btn-normal.disabled.active, 
.btn-normal[disabled].active, 
fieldset[disabled] .btn-normal.active { 
  background-color: var(--normal-color); 
  border-color: var(--normal-color); 
}
.btn-normal .badge { 
  color: var(--normal-color); 
  background-color: #000000; 
}

.btn-settings { 
  color: #000000; 
  background-color: var(--settings-color); 
  border-color: var(--settings-accent-color);
} 
.btn-settings:hover,
.btn-settings.active, 
.open .dropdown-toggle.btn-settings { 
  color: #000000; 
  background-color: var(--settings-accent-color); 
  border-color: var(--settings-accent-color);
}
.btn-settings:focus {
  background-color: var(--settings-accent-color);
  border-color: var(--settings-accent-color);
}
.btn-settings.active, 
.open .dropdown-toggle.btn-settings { 
  background-image: none; 
} 
.btn-settings.disabled, 
.btn-settings[disabled], 
fieldset[disabled] .btn-settings, 
.btn-settings.disabled:hover, 
.btn-settings[disabled]:hover, 
fieldset[disabled] .btn-settings:hover, 
.btn-settings.disabled:focus, 
.btn-settings[disabled]:focus, 
fieldset[disabled] .btn-settings:focus, 
.btn-settings.disabled:active, 
.btn-settings[disabled]:active, 
fieldset[disabled] .btn-settings:active, 
.btn-settings.disabled.active, 
.btn-settings[disabled].active, 
fieldset[disabled] .btn-settings.active { 
  background-color: var(--settings-color); 
  border-color: var(--settings-color); 
}
.btn-settings .badge { 
  color: var(--settings-color); 
  background-color: #000000; 
}


.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}